<%= stylesheet_link_tag 'user_show', :media => "all" %>

<div class="user-show-profile">
  <div class="background-user-image">
    <div class="user-image">
      <% if @user.image? %>
        <%= image_tag @user.image_url if @user.image? %>
      <% else %>
        <img class="logo-icon" src="/assets/default.png">
      <% end %>
    </div>
    <div class="user-name">
      <p>
        <%= @user.name %>
      </p>
    </div>
  </div>

  <div class="user-info">
  <a href="/users/<%= @user.id %>/followings"><%= @user.followings.count %> follow</a>
  <a href="/users/<%= @user.id %>/followers"><%= @user.followers.count %> follower</a>
    <p><%= render 'relationships/follow_button', user: @user %></p>
  </div>  
</div>



<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>


<div class="post-index">
<div class="posts-container">
        <% @user.posts.each do |t| %>
            <div class="post">
                <div class="post-box">
                    <div class="post-header">
                        <div class="user-image">
                        <% if t.user.image? %>
                            <a href="/users/<%= t.user.id %>">
                            <%= image_tag t.user.image_url, size: "250x200" if t.user.image? %>
                            </a>
                        <% else %>
                            <a href="/users/<%= current_user.id %>">
                            <img  src="/assets/default.png">
                            </a>
                        <% end %>
                        </div>
                        <div class="user-name">
                            <h2><%= t.user.name %></h2>
                        </div>
                    </div>
                    <div class="post-main">
                        <div class="title">
                            <h3>基本情報</h3>
                        </div>
                        <div class="info">
                            <div class="subject">
                                <h3>科目名:<%= t.content %><h3>
                            </div>
                            <div class="subject-name">
                                <h3>教員名:<%= t.teacher_name %></h3>
                            </div>
                        </div>
                        <div class="post-show">
                            <h3><%= link_to "詳細へ" , post_path(t.id), class: "show" %><h3>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class= "border">
                            　
                        </div>
                        <div class= "good-comments-time">
                        <div class= "post-good-and-comments">
                            <div class= "good">
                                <% if user_signed_in? %>
                                    <% if current_user.already_liked?(t) %>
                                        <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                                            <i class="fas fa-heart"><%= t.likes.count %></i>
                                        <% end %>

                                    <% else %>
                                        <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                                            <i class="far fa-heart"><%= t.likes.count %></i>
                                        <% end %>
                                    <% end %>
                                <% else %>
                                    <i class="far fa-heart"><%= t.likes.count %></i>
                                <% end %>
                            </div>
                            <div class="comment">
                                <i class="far fa-comments"><%= t.comments.count %></i>
                            </div>
                        </div>
                        <div class="post-time">
                            <h5><%= t.created_at.to_s(:datetime_jp) %><h5>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
  </div>
</div>


<h2>ユーザーがいいねした投稿一覧</h2>


<div class="post-index">
<div class="posts-container">
        <% @user.liked_posts.each do |t| %>
            <div class="post">
                <div class="post-box">
                    <div class="post-header">
                        <div class="user-image">
                        <% if t.user.image? %>
                            <a href="/users/<%= t.user.id %>">
                            <%= image_tag t.user.image_url, size: "250x200" if t.user.image? %>
                            </a>
                        <% else %>
                            <a href="/users/<%= current_user.id %>">
                            <img  src="/assets/default.png">
                            </a>
                        <% end %>
                        </div>
                        <div class="user-name">
                            <h2><%= t.user.name %></h2>
                        </div>
                    </div>
                    <div class="post-main">
                        <div class="title">
                            <h3>基本情報</h3>
                        </div>
                        <div class="info">
                            <div class="subject">
                                <h3>科目名:<%= t.content %><h3>
                            </div>
                            <div class="subject-name">
                                <h3>教員名:<%= t.teacher_name %></h3>
                            </div>
                        </div>
                        <div class="post-show">
                            <h3><%= link_to "詳細へ" , post_path(t.id), class: "show" %><h3>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class= "border">
                            　
                        </div>
                        <div class= "good-comments-time">
                        <div class= "post-good-and-comments">
                            <div class= "good">
                                <% if user_signed_in? %>
                                    <% if current_user.already_liked?(t) %>
                                        <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                                            <i class="fas fa-heart"><%= t.likes.count %></i>
                                        <% end %>

                                    <% else %>
                                        <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                                            <i class="far fa-heart"><%= t.likes.count %></i>
                                        <% end %>
                                    <% end %>
                                <% else %>
                                    <i class="far fa-heart"><%= t.likes.count %></i>
                                <% end %>
                            </div>
                            <div class="comment">
                                <i class="far fa-comments"><%= t.comments.count %></i>
                            </div>
                        </div>
                        <div class="post-time">
                            <h5><%= t.created_at.to_s(:datetime_jp) %><h5>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
  </div>
</div>

