<%= stylesheet_link_tag 'user_show', :media => "all" %>

<div class="user-show-profile">
  <div class="user-image">
    <% if @user.image? %>
      <%= image_tag @user.image_url if @user.image? %>
    <% else %>
      <img class="logo-icon" src="/assets/default.png">
    <% end %>
  </div>
  <div class="user-info">
  <p>名前 : <%= @user.name %></p>
  <p>メールアドレス : <%= @user.email %></p>
  <p><%= render 'relationships/follow_button', user: @user %></p>
  <p>プロフィール : <%= @user.profile %></p>
  </div>
  
</div>





<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.posts.each do |t| %>
  <%= t.user.name %>
  <%= t.content %>
<% end %>

<!-- 以下はいいね機能を実装している場合-->
<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_posts.each do |t| %>
  <%= t.user.name %>
  <%= t.content %>
<% end %>
<!-- ここまで-->

<%= link_to "Tweet一覧に戻る", posts_path %>