<h3>新規Tweet</h3>

<%= form_with model: @post do |f| %>
  <div class="form_group pt-4 pb-3">
    <%= f.text_field :content, placeholder: "科目名を記載してください", class: "form-control" %>
  </div>

  <div class="form_group pt-4 pb-3">
    <%= f.text_field :teacher_name, placeholder: "担当教員の名前を記載してください", class: "form-control" %>
  </div>

  <div class="text-center"> 
    <%= f.file_field :image %>
    <%= f.submit "Create Idea", class: "btn btn-primary" %>
  </div>

  
<% end %>