<%= stylesheet_link_tag 'user_index', :media => "all" %>
    
<%= image_tag @post.user.image_url, size: "250x200" if @post.user.image? %>
<%= image_tag @post.image_url, size: "250x200" if @post.image? %>
  <p><%= @post.content %></p>
  <p><%= @post.teacher_name %></p>
  <p><%= @post.created_at %></p>
</div>



<% if user_signed_in? %>
    <% if current_user.already_liked?(@post) %>
        <%= link_to post_like_path(@post), method: :delete do %>
            <i class="fas fa-heart"></i><%= @post.likes.count %>
        <% end %>
    <% else %>
        <%= link_to post_likes_path(@post), method: :post do %>
            <i class="far fa-heart"></i><%= @post.likes.count %>
        <% end %>
    <% end %>
<% else %>
    <i class="far fa-heart"></i><%= @post.likes.count %>
<% end %>


<% if user_signed_in? %>
    <% if @post.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
        <p><span>お気に入り解除: </span><%=link_to @post.favorites.count, post_favorites_path(@post.id), method: :delete %></p>
    <% else %>
        <p><span>お気に入り登録: </span><%=link_to @post.favorites.count, post_favorites_path(@post.id), method: :post %></p>
    <% end %>
  <% else %>
<% end %>


<div class="user-index-header">

<h1>いいねしたユーザー一覧</h1>



<div class="users-container">
    <% @sorted_users.each do |t| %>
    <% unless current_user == t %>
    <div class="user-box">
        <div class="user">
            <div class="user-image">
                <% if t.image? %>
                    <a href="/users/<%= t.id %>">
                        <%= image_tag t.image_url if t.image? %>
                    </a>
                <% else %>
                    <a href="/users/<%= t.id %>">
                        <img class="logo-icon" src="/assets/default.png">
                    </a>
                <% end %>
            </div>
            <div class="user-info">
            <ul>
                <li>
                    <%= t.name %>
                </li>
                <li>
                <p><%= render 'relationships/follow_button', user: t %></p>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <% end %>
    <% end %>
    

</div>
<%= paginate @users %>
</div>




<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>
      <br>
      <%= image_tag c.image_url, size: "250x200" if c.image? %>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= f.file_field :image %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>


<%= link_to "Tweet一覧に戻る", posts_path %>

<% if current_user.id == @post.user.id %>
    <%= link_to "編集する", edit_post_path(@post.id) %>
<% end %>